// app global css in SCSS form
.footer {
  font-size: 10px;
}
.logo-app {
  height: 75px;
}
.container-logo-app {
  width: 200px;
}
.icons-drawer {
  max-width: 50px;
}
.items-drawer {
  height: 70px;
}
